<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="container bodyCustom">
  <form action="/receipt-search-number" method="get">
    <label>reciept number</label> 
    <input type="number" name="receiptNumber" placeholder='enter receipt number' style="margin: 2%;" autofocus>
    <button type="submit" class="btn btn-lg btn-success"><i class="fa-solid fa-magnifying-glass"></i> Search by number</button>
  </form>
  <div class="container">
    <button id="printButton" class="btn btn-lg btn-primary">Print Receipt</button>
  </div>

  
  

  <% if(numberFoundedReceipts){ %>
    <center>
      <div><img src="/img/logo-micheal.png" style="width: 250px; height: 150px;"></div>
    </center>
    <h5>receipt date: <%= numberFoundedReceipts.date %></h5>
    <h2>Search Results by number:</h2>
    <h5>receipt Number: <%= numberFoundedReceipts.receiptNumber %></h5>

    <label style="margin: 2%;">client Name: <%= numberFoundedReceipts.clientName %> </label>
    <label style="margin: 2%;">client Phone: <%= numberFoundedReceipts.clientPhone %> </label>
    <br>
    <label style="margin: 2%;">pay type: <%= numberFoundedReceipts.payType %>  </label>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">item</th>
            <th scope="col">price</th>
          </tr>
        </thead>
        <tbody id="item-table-body">
          <% numberFoundedReceipts.items.forEach((currentItem,index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= currentItem.name %></td>
              <td><%= currentItem.price %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>

      <img src="/img/frame.png" alt="...." style="width: 150px; height: 150px; float: right;">
      <h5>
        <i class="fa-solid fa-location-dot"></i> Maadi Branch: 86 St.10 from Demesheq St. Swares Square.
      </h5>
      <h6>
        <i class="fa-solid fa-phone"></i> 0122 229 8069
      </h6>
      <h5>
        <i class="fa-solid fa-location-dot"></i> Zahraa El Maadi Branch: El Shatr No10 Zahraa El Maadi,beside Oops cafe and Hamada Ezzo.
      </h5>
      <h6>
        <i class="fa-solid fa-phone"></i> 0111 488 3888
      </h6>

      <h2>total Price : <span id="totalPrice"><%= numberFoundedReceipts.totalPrice %></span> <span>LE</span> </h2>
      

  <% } %>
  <script>
    const printButton = document.getElementById('printButton');
  
    printButton.addEventListener('click', () => {
      window.print();
    });
  </script>
</body>
</html>